.navbar {
    // background-color: rgb(25, 133, 227);
    background-image: linear-gradient(90deg, rgb(17, 170, 178), rgb(25, 133, 227));

    .navbar-brand, .navbar-nav a {
        margin-right: 10px;
        text-decoration: none;
        color: white!important;
    }

    .navbar-nav a:focus {
        color: rgb(174, 98, 224);
    }
}